funcsigs==1.0.2
mock==2.0.0
nltk==3.4
numpy==1.16.2
pandas==0.24.2
pbr==5.1.3
pkg-resources==0.0.0
protobuf==3.7.1
python-dateutil==2.8.0
pytz==2019.1
scikit-learn==0.20.3
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
tensorflow==1.0.0rc0
tensorflow-fold==0.0.1
