bleach==3.1.2
certifi==2019.3.9
chardet==3.0.4
ChemListem==0.1.0
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.9
en-core-web-md==1.2.1
enum34==1.1.6
ftfy==4.4.3
h5py==2.9.0
html5lib==0.9999999
idna==2.8
Keras==2.1.1
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1
murmurhash==0.26.4
nltk==3.4.1
numpy==1.16.3
pathlib==1.0.1
plac==0.9.6
preshed==1.0.1
protobuf==3.7.1
PyYAML==5.1
regex==2017.11.9
requests==2.21.0
scikit-learn==0.19.1
scipy==1.2.1
six==1.12.0
spacy==1.9.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
thinc==6.5.2
toolz==0.9.0
tqdm==4.31.1
ujson==1.35
urllib3==1.24.2
wcwidth==0.1.7
Werkzeug==0.15.2
wrapt==1.11.1
